@import "tailwindcss";

@theme {
  --color-nmdpr-yellow: #FFCC00;
  --color-nmdpr-green:  #007A33;
  --color-nmdpr-black:  #000000;
  --color-nmdpr-white:  #FFFFFF;
}


.tab-scroll {
  height: calc(100vh - 120px);
  overflow-y: auto;

}

